body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
}
.keys{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.key{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 5px;
    align-items: center;
    border: 2px solid rgb(55, 55, 255);
    transition: all 0.09s;
    border-radius: 5px;

}
kbd{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
span{
    font-size: 20px;
    color: rgb(255, 255, 0);
}
.playing{
    box-shadow: 0 0  10px rgb(255, 255, 47);
    border: none;
    transform: scale(1.1);
}
