@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(18, 14, 14);
}
h1{
    font-size: 90px;
    color: white;

}
.keys{
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.key-sets{
    display: flex;
    flex-direction: row;
}
.key{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 5px;
    align-items: center;
    border: 2px solid rgb(221, 255, 143);
    transition: all 0.09s;
    border-radius: 5px;

}

kbd{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
span{
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.playing{
    box-shadow: 0 0  10px rgb(145, 255, 0);
    border: none;
    transform: scale(1.1);
}
